# Use Dockerized infrastructure
sudo: false

language: generic
cache:
  bundler: true

git:
  depth: 10

node_js:
  - '9'

services:
  - docker

# only whitelisting these branches for branch-update, so that if any update or PR
# merged in these branches then build otherwise ignore pushes to same branches
# https://stackoverflow.com/q/31882306/2037323
branches:
  only:
    - dev
    - main

before_install:
  - npm test
  - sudo service mysql stop
  - export PATH=$PATH:$HOME/.local/bin
  - export IMAGE_NAME=davardanian/minesweeper-react
  - export REPO_URL=dockerhub.com # your AWS ECR repo
  - export GIT_REPO_NAME=$(echo $TRAVIS_REPO_SLUG  | grep -oE "[^/]+$")
  - export GIT_SHA_TS=$(git log -1 --format=%ai)
  - export GIT_SHA=$(git rev-parse HEAD)
install:
  - sudo apt-get update && sudo apt-get -y install gettext-base
  #  - docker pull $REPO_URL/$IMAGE_NAME:latest
  - docker build --build-arg GIT_SHA=$GIT_SHA --build-arg GIT_SHA_TS="$GIT_SHA_TS" -t $REPO_URL/$IMAGE_NAME:latest .
  - docker tag $REPO_URL/$IMAGE_NAME:latest $REPO_URL/$IMAGE_NAME:$TRAVIS_COMMIT
  - docker tag $REPO_URL/$IMAGE_NAME:latest $REPO_URL/$IMAGE_NAME:$TRAVIS_BRANCH

script:
  - docker push $REPO_URL/$IMAGE_NAME:latest
  - docker push $REPO_URL/$IMAGE_NAME:$TRAVIS_COMMIT
  - docker push $REPO_URL/$IMAGE_NAME:$TRAVIS_BRANCH

deploy:
  skip_cleanup: true
  provider: script
  script: ./dev/ci-deploy.sh
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^dev|main$
